body{
    background: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.assignment { 
    display : flex;
    padding: 10px;

}
.assignment img{
    width:200px;
    padding:10px ;
    margin: 10px;
    background-color: bisque;
}

h1{
    color: purple;
    text-align: center;
}
    
